{% extends "basic_structure.html" %}

{% block head %}
    <script text="text/javascript">
        $(function(){
            resizeInternalWindows();
        });

        resizeInternalWindows = function() {
            var winW = document.body.offsetWidth;
            var winH = $(window).height();
            var navH = $('#navbar').height();

            // var total_height = winH - $('#toolbar').height() - $('#toolbar').outerHeight() - $('#toolbar').innerHeight();
            var total_height = winH - navH - $('#toolbar').outerHeight() - $('#pnl_bottom').outerHeight();

            $('#editor').height(total_height);
            $('#editor').css({'max-height': total_height});
            //$('#editor').height(total_height);
        }
    </script>

    <style text="text/css">
        .toolbar {
            background: #f1f1f1;
            width: 100%;
            padding: 5px;
            border-bottom: solid 1px #CCC;
        }

        #editor { 
            position: relative;
            width: 100%;
            height: 400px;
        }

        #pnl_bottom {
            background: #fcf8f2;
            border-left: 3px solid #f0ad4e;
            border-top: solid 1px #f0ad4e;
            height: 150px;
            overflow: auto;
            padding-left: 5px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="toolbar" class="toolbar">
        <div class="pull-left">
            <div class="btn-group">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-hdd"></span> Save</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Commit</a></li>
                    <li><a href="#">Template</a></li>
                </ul>
            </div>


            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Compile</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Configure</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-danger"><span class="glyphicon glyphicon-play"></span> Run</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Parameters</a></li>
                </ul>
            </div>

        </div>
        <div class="pull-right">
            <button class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span> Options</button>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="editor">
    </div>
    <div id="pnl_bottom">

    </div>
    
    <script src="/static/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/c_cpp");
    </script>
{% endblock %}