<!DOCTYPE html>
<html>
    <head>
        <title>CPPON</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js" ></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
        </script>

        <style type="text/css">
            body {
                padding-top: 50px;
            }
        </style>

        {% block head %}
        {% endblock %}
    </head>
    <body>

    <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CPPON</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if perms.accounts.recruiter %}
                    <li class="active"><a href="{% url 'hp_inbox' %}">Entrada</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seleção <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Novo Processo</a></li>
                            <li><a href="">Processos em Andamento</a></li>
                            <li><a href="">Processos Finalizados</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Candidatos</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if perms.accounts.applicant %}
                   <li><a href="">Exames</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">               
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{#{% url 'logout' %}#}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{#{% url 'login' %}?next={{ request.get_full_path }}#}">Login</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </body>
</html>